@import url('./helperCode/GridTableStyles.css');

#root{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #b2b2b2;
}

.App {
  flex-grow: 100;
  background-color: #b2b2b2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.content-container{
  height: 100%;
  width: 65%;
  background-color: #b2b2b2;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
    
}

.tableMenu{
  width: 99.2%;
  background-color: lightgrey;
  padding: 5px;
}

.content-container .table-container{
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.content-container .data-container{
  height: 50%;
  width: 100%;
  background-color: orange;
}

.pdf-container{
  width: 35%;
  height: 100%;
  background-color: white;
}
